@tailwind base;
@tailwind components;
@tailwind utilities;


/** * * GLOBAL STYLES * * */

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    position: fixed;
    width: 5px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}

details > summary {
    list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

.hoverScaleBox {
    transition: 0.4s;
}

.hoverScaleBox:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 1.2s;
}

.fade-out-sm {
    animation-name: fadeOut;
    animation-duration: 1.2s;
}

@keyframes slideInBottom {
    0% {
        bottom: -200px;
        opacity: 0;
    }
    10% {
        bottom: 50px;
        opacity: 1;
    }
    90% {
        bottom: 50px;
        opacity: 1;
    }
    100% {
        bottom: -200px;
        opacity: 0;
    }
}

.slide-in-bottom {
    animation-name: slideInBottom;
    animation-duration: 7s;
}

.scale-hover:hover {
    transform: scale(1.01);
}
